:root {
  --DATE-CLR: rgb(167, 167, 167);
}
body {
  padding: 1rem 0.5rem;
}

p,
h1,
button {
  font-family: sans-serif;
}

.header-wrapper {
  text-align: center;
  padding-top: 2rem;
}

.logs {
  padding-block: 2rem;
}

.log {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: start;

  min-height: 3.5rem;
}

.dates {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.5rem;

  padding-top: 1.2rem;
}

.vertical {
  display: flex;
  align-items: end;
  justify-content: center;

  height: calc(2.6rem + 5.5px);
  width: 0.095rem;

  overflow: visible;
  background-color: black;
}

.circle {
  flex-shrink: 0;
  height: 0.9rem;
  width: 0.9rem;

  border-radius: 50%;
  background-color: black;

  margin-bottom: 5.5px;
}

.changes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 1.5rem;
  padding-top: 1.2rem;
}

.date,
.desc {
  color: var(--DATE-CLR);
}

.mobile {
  display: none;
}

.btn {
  background-color: black;
  color: rgb(237, 237, 237);

  width: fit-content;
  margin: 0 auto;
  padding: 0.5rem 1rem;

  font-size: 0.8rem;
  border-radius: 0.5rem;

  cursor: pointer;
}

.btn:active {
  background-color: rgb(55, 55, 55);
}

@media screen and (max-width: 32.5rem) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

@media screen and (max-width: 28.75rem) {
  h1 {
    font-size: 1.8rem;
  }
  .desc {
    font-size: 0.9rem;
  }
  .log {
    gap: 0.8rem;
  }

  .change,
  .mobile {
    font-size: 0.9rem;
  }

  .changes,
  .dates {
    gap: 1.7rem;
  }
}

@media screen and (max-width: 395px) {
  .changes {
    gap: 0.8rem;
  }
}
